// valuable
$White:white;
$Black:black;
$Grey:grey;
$Red:red;
$Blue:blue;
$Yellow:yellow;

// global
*{
    box-sizing: border-box;
}

ul{
    list-style: none;
    padding-left: 0px;
}

body{
    margin: 0px;
    cursor: default;
}

a{
    text-decoration: none;
    // color:$White;
}

button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

// Navbar
#navbar{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    // background-color: transparent;
    align-items: center;
    color: $Black;
    padding: 15px;
    // z-index: 1;

    & .logo_img{
        width: 30px;
        height: 30px;
        vertical-align: middle;
    }

    & .navbar_menu{
        display: flex;

        & > li{
            padding: 8px 12px;
            margin: 0 4px;
            cursor: pointer;
            border-radius: 4px;
            border: 1px solid transparent;
        }
        & > li:hover{
            border: 1px solid $Grey;
        }
    }
}

// Home
#home{
    background: url("./img/20221229_135911.jpg");
    background-position: center;
    background-blend-mode: lighten;
    background-color: rgb(255 255 255 / 56%);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    text-align: center;
    padding-top: 140px;

    & .content{
        & .home_photo{
            width: 250px;
            height: 250px;
            border-radius: 40%;
            border: 2px solid $White;
        }

        & .home_contact{
            font-size: 18px;
            font-weight: bold;
            border: 2px solid $Black;
            padding: 10px;
            margin: 20px 0px;
        }
    }
}

/* Section common */
.section {
    padding: 50px;
    text-align: center;
    margin: auto;
}
  
.section__container {
    max-width: 1200px;
    margin: auto;
}

// About
#about{
    & .about_title{
        position: relative;

        &::after{
            content: "";
            display: block;
            height: 2px;
            width: 300px;
            border-bottom: 1px solid #707070;
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    & .about_content{
        & img{
            width: 40%;
            border-radius: 20px;
            transition: all 0.4s ease-in-out;
            border: 2px solid transparent;
        }
        & img:hover{
            transform: scale(1.2);
            box-shadow: 0px 0px 20px 7px white;
            border: 2px solid $White;
        }
    }
}

// Service
#service{
    & .service_title{
        position: relative;

        &::after{
            content: "";
            display: block;
            height: 2px;
            width: 300px;
            border-bottom: 1px solid #707070;
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    & .service_content{
        position: relative;

        & .zoom_back{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0px 2px 20px 11px rgb(53 60 75 / 78%);
            background-color: rgba(0, 0, 0, 0.8);
            //display: flex;
            justify-content: center;
            align-items: center;
            display: none;

            & .zoom_img{
                width: 50%;
                border: 5px solid $White;
                cursor: pointer;
            }
        }

        & .service_photo{
            width: 30%;
            border: 5px solid $Black;
            cursor: pointer;
        }
    }
}

// Reservation
#reservation{
    & .reservation_title{
        position: relative;

        &::after{
            content: "";
            display: block;
            height: 2px;
            width: 300px;
            border-bottom: 1px solid #707070;
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    & .reservation_content{
        & > form{
            & > div{
                margin-bottom: 10px;
                & input,
                & textarea{
                    width: 50%;
                    padding: 5px;
                    outline: none;
                    
                }
                & textarea{
                    height: 100px;
                }
                & .input_date{
                    width: 39%;
                }

                & .input_submit{
                    background-color: $Black;
                    color: $White;
                    cursor: pointer;
                }
                

            }
        }
    }


}